<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="AllLog" />
  </root>
  <logger name="ServiceLayer" additivity="false">
    <level value="ALL" />
    <appender-ref ref="ServiceLog" />
  </logger>
  <logger name="DataLayer" additivity="false">
    <level value="ALL" />
    <appender-ref ref="RepositoryLog" />
  </logger>
  <logger name="TestConsole" additivity="false">
    <level value="ALL" />
    <appender-ref ref="WebLog" />
  </logger>
  <logger name="Microsoft.EntityFrameworkCore" additivity="false">
    <level value="ALL" />
    <appender-ref ref="SQLLog" />
  </logger>

  <appender name="ServiceLog" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Users\u338301\source\repos\H3\ORM\eShop-projektet\Logs\ServiceLog.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd-MM-yyyy HH:mm:ss} %-5level [%3thread] %message%newline" />
    </layout>
  </appender>
  
  <appender name="RepositoryLog" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Users\u338301\source\repos\H3\ORM\eShop-projektet\Logs\DataLayerLog.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd-MM-yyyy HH:mm:ss} %-5level [%3thread] %message%newline" />
    </layout>
  </appender>
  
  <appender name="WebLog" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Users\u338301\source\repos\H3\ORM\eShop-projektet\Logs\WebLog.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd-MM-yyyy HH:mm:ss} %-5level [%3thread] %message%newline" />
    </layout>
  </appender>
  
  <appender name="SQLLog" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Users\u338301\source\repos\H3\ORM\eShop-projektet\Logs\SQLLog.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd-MM-yyyy HH:mm:ss} %-5level [%3thread] %message%newline" />
    </layout>
  </appender>
  
  <appender name="AllLog" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Users\u338301\source\repos\H3\ORM\eShop-projektet\Logs\AllLog.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd-MM-yyyy HH:mm:ss} %-5level [%3thread] %message%newline" />
    </layout>
  </appender>
  
</log4net>